<div class="beb">
    <div class="nombre">
        <h1>Bebidas</h1>
        <div class="bebidas">

            <img src="assets/Comidas/bebidas/naturales.jpg" alt="Imagen de bebidas naturales" class="imgMenu">

            <img src="assets/Comidas/bebidas/gaseosas.jpg" alt="Imagen de bebidas con gaseosa" class="imgMenu">

            <img src="assets/Comidas/bebidas/batidos.jpg" alt="Imagen de batidos" class="imgMenu">

            <img src="assets/Comidas/bebidas/sAlcohol.jpg" alt="Imagen de bebidas sin alcohol" class="imgMenu">

            <img src="assets/Comidas/bebidas/alcohol.jpg" alt="Imagen de bebidas con alcohol" class="imgMenu">

            <img src="assets/Comidas/bebidas/especial.jpg" alt="Imagen de bebida especial" class="imgMenu">

        </div>
    </div>
    <div class="carusel">
       
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of dynamicSlides">
              <ng-template carouselSlide [id]="slide.id">
                <img class="img2" [src]="slide.src" [alt]="slide.alt" >
                <h2>{{slide.title}}</h2>
                <p>{{slide.description}}</p>
              </ng-template>
            </ng-container>
          </owl-carousel-o>

    </div>
</div>
<div class="botones">
        <a routerLink="/Comida"><button type="button">Atras</button></a>
        <a routerLink="/Postres"><button type="button">Adelante</button></a>
</div>
